@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --line-height: 1.7rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif,'Times New Roman', Times, serif;
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
}

  
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}


nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  }
  
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.nav-item {
  margin-left: 2rem;
}
  
.nav-link {
  font-weight: var(--bold-font);
}

.intro-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
  
.intro-text h3 {
  margin-bottom: 0.5rem;
}
  
.hero p {
  line-height: var(--line-height);
}
  
.hear {
  color: black;
}
  
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 0.6rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #fff;
}
  
.gray {
  background-color: #9fa2a7;
  margin-right: 1.5rem;
}
  
.gray:hover {
  background-color: rgb(116, 175, 116);
  color: #fff;
}

.about {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0;
}

  .about h3 {
    font-size: 3rem;
    margin-bottom: -20px;
  }
  
  .sub {
    margin-top: 2rem;
  }
  
  .sub h3 {
    text-align: center;
  }
  .sub h1 {
    text-align:center;
  }

  footer {
    text-align: center;
    padding: 2rem;
  }

  .scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }