<h1>Login</h1>
<%-message%>
<form action = "/login" method = "post">
  <div>
    <lable for = "username">Username:</label>
    <input type="text" name = "username" id = "username" placeholder = "johndoe">
  </div>
  <div>
    <label for = "password">Password:</label>
    <input type = "text" name = "password" id = "password" placeholder = "*******">
  </div>
  <button type="submit">Login</button>
</form>
<a href = "/register"> Register </a>