<% include ../partials/header.ejs %>
<% include ../partials/mainNav.ejs %>
<h1>Login</h1>

<form action = "/login" method = "post">
  <div>
    <label for = "username">Username:</label>
    <input type="text" name = "username" id = "username" placeholder = "johndoe">
  </div>
  <div>
    <label for = "password">Password:</label>
    <input type = "text" name = "password" id = "password" placeholder = "*******">
  </div>
  <button type="submit">Login</button>
</form>
<a href = "/register"> Register </a>
<% include ../partials/bottomNav.ejs %>
<% include ../partials/footer.ejs %>